<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>小陈's Blog - Rss安全信息流</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my.css') }}">
</head>

<body>
<div class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><!--<img alt="小陈's Blog" src="{{ url_for('static', filename='css/logo.png') }}" class="logo">-->小陈's Blog - Rss安全信息流　　CTRL+F 全文搜索</a>
        </div>
    </div>
</div>
<div class="container master">
    
    <div class="row main">
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/xianzhi.ico') }}">
                            <a href="https://xz.aliyun.com/" target="_blank" class="forums_title"><span>先知社区</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            
                                <a href="#" aria-controls="先知社区" role="tab" data-toggle="tab">最新</a>
                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="先知社区">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
											   </thead>

												<tbody>
												{% for xianzhi in body1 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="{{ xianzhi[0] }}" rel="nofollow">{{ xianzhi[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>

                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 62px; transform: translate(0px, 0px);"></div></div></div>
                                </div>
                        </div>
                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/freebuf.ico') }}">
                            <a href="https://www.freebuf.com/" target="_blank" class="forums_title"><span>FreeBuf</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                                <a href="#" aria-controls="FreeBuf" role="tab" data-toggle="tab">最新</a>
                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="Freebuf">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>

                                                <tbody>
												{% for freebuf in body2 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="https://www.freebuf.com/{{ freebuf[0] }}" rel="nofollow">{{ freebuf[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>

                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 67px; transform: translate(0px, 0px);"></div></div></div>
                                </div>
                            
                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/t00ls.ico') }}">
                            <a href="https://www.t00ls.com" target="_blank" class="forums_title"><span>T00ls</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            
                                <a href="#" aria-controls="T00ls" role="tab" data-toggle="tab">最新</a>

                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="T00ls">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>

                                                <tbody>
												{% for t00ls in body3 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="https://www.t00ls.com{{ t00ls[0] }}" rel="nofollow">{{ t00ls[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>

                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 54px; transform: translate(0px, 0px);"></div></div></div>
                                </div>

                            
                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/butian.png') }}">
                            <a href="https://forum.butian.net/" target="_blank" class="forums_title"><span>补天攻防社区</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            
                                <a href="#" aria-controls="补天" role="tab" data-toggle="tab">最新</a>
                            
                            
                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="补天攻防社区">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>

                                                <tbody>
												{% for butian in body4 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="https://forum.butian.net/share/{{ butian[0] }}" rel="nofollow">{{ butian[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>


                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 54px; transform: translate(0px, 0px);"></div></div></div>
                                </div>
                            
                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/weixin.jpg') }}">
                            <a href="#" target="_blank" class="forums_title"><span>微信安全文章</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            
                                <a href="#" aria-controls="微信安全文章" role="tab" data-toggle="tab">最新</a>

                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="微信安全文章">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>
                                               <tbody>
												{% for weixin in body5 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="https://mp.weixin.qq.com{{ weixin[0] }}" rel="nofollow">{{ weixin[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>

                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 59px; transform: translate(0px, 0px);"></div></div></div>
                                </div>
                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/huoxian.png') }}">
                            <a href="https://zone.huoxian.cn/" target="_blank" class="forums_title"><span>火线 Zone</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            
                                <a href="#" aria-controls="火线" role="tab" data-toggle="tab">最新</a>
                            
                            
                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="火线">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>

												<tbody>
												{% for huxoain in body6 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="https://zone.huoxian.cn/d{{ huxoain[0] }}" rel="nofollow">{{ huxoain[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>


                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 62px; transform: translate(0px, 0px);"></div></div></div>
                                </div>
                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/changting.ico') }}">
                            <a href="https://stack.chaitin.com/vuldb/index" target="_blank" class="forums_title"><span>长亭漏洞库</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            <a href="https://stack.chaitin.com/vuldb/index" aria-controls="长亭漏洞库" role="tab" data-toggle="tab">最新</a>
                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="长亭漏洞库">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>

                                                <tbody>
												{% for changting in body7 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="https://stack.chaitin.com/vuldb/detail/{{ changting[0] }}" rel="nofollow">{{ changting[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>

                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 58px; transform: translate(0px, 0px);"></div></div></div>
                                </div>
                            
                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/aliyun.ico') }}">
                            <a href="https://avd.aliyun.com/" target="_blank" class="forums_title"><span>阿里云漏洞库</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            
                                <a href="https://avd.aliyun.com/high-risk/list" aria-controls="阿里云漏洞库" role="tab" data-toggle="tab">最新</a>
                            
                            
                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                                <div role="tabpanel" class="tab-pane active" id="阿里云漏洞库">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>

                                                <tbody>
												{% for aliyun in body8 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="https://avd.aliyun.com{{ aliyun[0] }}" rel="nofollow">{{ aliyun[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>

                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 62px; transform: translate(0px, 0px);"></div></div></div>
                                </div>
                            
                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="panel panel-default" id="tables">
                    <div class="panel-heading">
                        <div class="cc-cd-lb"><img src="{{ url_for('static', filename='css/nsfocus.png') }}">
                            <a href="http://www.nsfocus.net/index.php?act=sec_bug" target="_blank" class="forums_title"><span>Nsfocus 漏洞库</span></a>
                        </div>
                        <ul role="tablist" class="forums_right">
                            
                                <a href="#" aria-controls="Nsfocus" role="tab" data-toggle="tab">最新</a>
                        </ul>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        <!-- Tab panes -->
                        <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="Nsfocus">
                                    <div class="nano has-scrollbar">
                                        <div class="nano-content" tabindex="0" style="right: -17px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th width="45">#</th>
                                                    <th>Title</th>
                                                </tr>
                                                </thead>

                                                <tbody>
												{% for nsfocus in body9 %}
													<tr>
														<td>{{ loop.index }}</td>
														<td><a target="_blank" href="http://www.nsfocus.net{{ nsfocus[0] }}" rel="nofollow">{{ nsfocus[1] }}</a></td>
													</tr>
												{% endfor %}
												</tbody>

                                            </table>
                                        </div>
                                    <div class="nano-pane"><div class="nano-slider" style="height: 64px; transform: translate(0px, 0px);"></div></div></div>
                                </div>

                        </div>

                    </div>
                    <div class="panel-footer"> </div>
                </div>
            </div>
        
    </div>

</div>
<footer class="footer">
    <div class="container">
                <div class="text-right pull-right">
		    <script>
				// 获取回到顶部的链接元素
				var backToTop = document.getElementById("back-to-top");

				// 给链接元素添加点击事件监听
				backToTop.addEventListener("click", function(event) {
				  // 阻止默认行为
				  event.preventDefault();
				  // 回到网页顶部
				  window.scrollTo({
					top: 0,
					left: 0,
					behavior: "smooth"
				  });
				});
			</script>
			<p><a href="#" id="back-to-top">回到顶部</a></p>
            <p>
				<p>关注本站获取最新安全资讯</p>
            </p>
        </div>
        <div class="Copyright">
            <p>Copyright © 2023 i.hackxc.cc 安全信息流.</p>
            <p><span class="iconfont icon-icon_xinyong_xianxing_jijin-"></span> 友情链接: <a href="http://www.hackxc.cc/" target="_blank">小陈's Blog</a>&nbsp;&nbsp;<a href="http://tools.hackxc.cc/" target="_blank">在线Tools</a>
            </p>
        </div>
    </div>
</footer>

	
<script src="{{ url_for('static', filename='./css/hm.js') }}"></script>
<script src="{{ url_for('static', filename='./css/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='./css/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='./css/noitify.min.js')}}"></script>
<script src="{{ url_for('static', filename='./css/my.js')}}"></script>

	<script src="{{ url_for('static', filename='./css/nanoscroller.min.js')}}"></script>
    <script>
        (function () {
            $(".nano").nanoScroller();
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $(".nano").nanoScroller();
            })
        })();
    </script>


</body></html>